     <div class="row">
    <div class="large-3 columns">
      <h1><img src="./images/mixup_logo1.png"/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
      <li><a href="#" class="button">Sign up</a></li>
      <li><a href="/dashboard" class="button">Login</a></li>
      </ul>
     </div>
   </div>
 
  <div class="row">
    <div class="large-12 columns">
    <div id="slider">
      <img src="./images/electronic-music-guide.png"/>
    </div>
    
    <hr/>
    </div>
  </div>
  
 
 
  <div class="row">
    <div class="large-4 columns">
      <img src="./images/simba1.jpg"/>
      <h4>Submit a track.</h4>
    </div>
    
    <div class="large-4 columns">
      <img src="./images/logic_project.png"/>
      <h4>Remix someone else's track.</h4>
    </div>
    
    <div class="large-4 columns">
      <img src="./images/simba_leaves_smaller2.png"/>
      <h4>Get your baby back remixed!</h4>
    </div>
  
    </div>

